* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "segoe ui";
}

.nav-bar {
    margin: auto;
    position: relative;
}

.nav {
    border-bottom: 2px solid #808080;
    height: 50px;
    width: 80%;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    z-index: 1;
}

.nav-header {
    flex-basis: 30%;

}

.nav-title {
    height: 100%;
}

.nav-title img {
    height: 80%;
}

.nav>.nav-btn {
    display: none;
}

/* .nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
} */

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    color: rgb(239, 239, 239);
}

.nav>.nav-links>a:hover {
    border-bottom: 100px solid #e4e2e2;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.nav>#nav-check {
    display: none;
}

.hero-container {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.118);
    padding-top: 5rem;
    padding-bottom: 3rem;
    overflow-x: hidden;
}

.hero-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("images/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.png");
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-page {
    position: relative;
}

.background-img {
    display: none;
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: -1;
    border: 10px solid green;
}

.background-img img {
    width: 100%;
    object-fit: cover;
}

.hero-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}

.hero-text {
    /* flex-basis: 60%; */
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 2rem 2rem 2rem 4rem; */
    /* padding: 1rem 2rem; */
}

.hero-text h1 {
    color: rgb(255, 255, 255);
    font-size: 3.325rem;
}

.hero-map {
    flex-basis: 30%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid #fff; */
}

.map-img,
.hero-search {
    /* width: 400px; */
    /* margin: 1rem 0; */
}

.map-img img {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

.hero-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    /* max-width: 400px; */
    /* margin-left: 25px; */
}

form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#house-type,
#house-location {
    padding: 1.5rem 2rem;
    border: 1px solid #a0a1a0;
}

.search-icon {
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #4d4d4d;
    margin-left: 1rem;
}

.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 95%;
    grid-column-gap: 2rem;
    /* border: 2px solid #000; */
    align-items: center;
    justify-content: space-between;
    /* justify-items: center; */
}

.house-img {
    grid-row: 1 / span 2;
    background-color: #C4C4C4;
    ;
    width: 400px;
    border-radius: 50px 0px;
    height: 550px;
    margin: 0 2rem;
    padding-top: 50px;
}


.house-img img {
    box-shadow: 5px 24px 53px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 50px 0;
    width: 400px;
    height: 500px;
}

.vector {
    padding: 1rem;
    /* border: 2px solid #000; */
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.vector-intro {
    font-size: 26px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: #18191f;
    font-weight: 600;
    font-style: normal;
    line-height: 35px;
    text-transform: capitalize;
    font-feature-settings: "salt"on, "liga"off;
}

.list-of-property {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 5rem;
    justify-content: center;
    /* align-items: center; */
}

.property {
    width: 360px;
}

.shower-bed {
    display: flex;
    width: 100%;
    border: 2px solid #e4e4e4;
    box-sizing: border-box;
    /* margin: auto; */
    justify-content: space-between;
}



.price span {
    width: 100%;
    display: inline-block;
}


.shower-bed img {
    /* border: 4px solid green; */
    width: 30px;
    height: 30px;
}

.bed,
.shower,
.size {
    display: flex;
    width: 32.514%;
    margin: 0;
    border-right: 2px solid #e4e4e4;
    justify-content: center;
    align-items: center;
}

.size {
    border-right: 0;
}