/* SECTION UTILITIES */
:root {
    --dm-sans: 'DM Sans', sans-serif;
    --inter: 'Inter', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --manrope: 'Manrope', sans-serif;
    --assistant: 'Assistant', sans-serif;


}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

}

body {
    max-width: 1400px;
    margin: auto;
    /* margin-bottom: 2rem; */
    font-family: "segoe ui";
}


/* !SECTION */


/* SECTION NAV-BAR */

.nav-bar {
    margin: auto;
    position: relative;
    z-index: 1000;
    overflow: visible;

}

.nav {
    border-bottom: 0.5px solid #FFFFFF;
    height: 50px;
    width: 80%;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 0px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    z-index: 1;
    font-family: var(--dm-sans);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 70.19%;
}

.nav-header {
    flex-basis: 30%;

}

.nav-title {
    height: 100%;
}

.nav-title img {
    height: 80%;
}

.nav>.nav-btn {
    display: none;
}

/* .nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
} */

.nav>.nav-links>a {
    display: inline-block;
    padding: 17px 10px;
    margin: 0 20px;
    text-decoration: none;
    color: rgb(239, 239, 239);
    overflow: initial;
}

.nav>.nav-links>a:hover {
    border-bottom: 2.32181px solid #FFFFFF;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

.nav>#nav-check {
    display: none;
}

/* !SECTION */



/* SECTION HERO PAGE */

.hero-container {
    position: relative;
    width: 100%;
    background-image: linear-gradient(200.44deg, #00000000 16.41%, #00000082 77.16%);
    padding-top: 10rem;
    padding-bottom: 3rem;
    overflow-x: hidden;
}

.hero-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("images/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.png");
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.home-page {
    position: relative;
}

.background-img {
    display: none;
    width: 100%;
    height: max-content;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: -1;
    border: 10px solid green;
}

.background-img img {
    width: 100%;
    object-fit: cover;
}

.hero-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.hero-text {
    /* flex-basis: 60%; */
    max-width: 500px;
    /* margin: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--inter);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 70px;
    /* or 135% */

    letter-spacing: -1px;
    text-transform: capitalize;

    color: #FFFFFF;
    /* margin: 2rem 2rem 2rem 4rem; */
    /* padding: 1rem 2rem; */
}


.hero-map {
    flex-basis: 30%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid #fff; */
}

.map-img,
.hero-search {
    /* width: 400px; */
    /* margin: 1rem 0; */
}

.map-img img {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

.hero-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    background-color: #fff;
    width: 400px;
    height: 100px;
    border: 1px solid #00000033;
    border-radius: 10px;
    /* max-width: 400px; */
    /* margin-left: 25px; */
}

.hero-search form {
    display: flex;
    align-items: center;
    height: 60px;
    width: 90%;
    margin: auto;
    /* justify-content: space-evenly; */
}

#house-type,
#house-location {
    padding: 0 0.1rem;
    height: 60px;
    width: 50%;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    letter-spacing: 0.2px;

    /* text-color */
    color: #252B42;
}

#house-type {

    border-radius: 5px 0px 0px 5px;
}

.search-icon {
    width: 60px;
    height: 60px;
    margin: 0;
    color: #ffffff;
    /* primary-color */

    background: #23A6F0;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    /* margin-left: 1rem; */
}

/* !SECTION */


/* SECTION Minimum Living Cost Takes Care Of Everything */

section.minimum-living-cost {
    width: 100%;
    margin: auto;
}

.living-cost-container {
    width: 90%;
    margin: auto;
}

.minimum-living-cost h1 {
    margin: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
    /* identical to box height, or 178% */


    text-transform: capitalize;
    font-feature-settings: 'salt'on, 'liga'off;

    /* Text / Gray 900 */

    color: #18191F;
}

.minimum-living-cost h1 span {
    border-bottom: 3px solid #F4511E;
}


.grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-column-gap: 2rem;
    /* border: 2px solid #000; */
    align-items: center;
}


.house-img {
    grid-row: 1 / span 2;
    background-color: #C4C4C4;
    overflow: hidden;
    width: 400px;
    border-radius: 50px 0px;
    height: 550px;
    /* margin: 0 2rem; */
    padding-top: 50px;
}


.house-img img {
    box-shadow: 5px 24px 53px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 50px 0;
    width: 400px;
    height: 500px;
}

.vector {
    padding: 1rem;
    /* border: 2px solid #000; */
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.vector-intro {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    /* or 135% */

    text-transform: capitalize;
    font-feature-settings: 'salt'on, 'liga'off;

    /* Text / Gray 900 */

    color: #18191F;
}

/* !SECTION */


/* SECTION LIST OF PROPERTIES */


section.properties-container {
    width: 90%;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
    margin: 2rem 0;
}

.header h2 {
    width: 50%;
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 64px;
    /* margin-left: 2rem; */
    /* identical to box height, or 178% */

    text-transform: capitalize;
    font-feature-settings: 'salt'on, 'liga'off;

    /* Text / Gray 900 */

    color: #18191F;
}

.header>h2>span {
    border-bottom: 3px solid #F4511E;
}

.property-btn {

    width: 50%;

    text-align: right;

    display: inline-block;
}

.property-btn button {

    box-shadow: 0px 20px 13px #f85a4709, 0px 8.14815px 6.51852px #f85a4707, 0px 1.85185px 3.14815px #f85a4704;
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 65px;
    background: #F4511E;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}


.list-of-property {
    display: grid;
    grid-template-columns: 1FR 1FR 1FR;
    grid-gap: 5rem;
    /* justify-content: center; */
    /* align-items: center; */
}

.property {
    width: 100%;
}

.property>img {
    /* border: 2px solid; */
    width: 100%;
}

.property h2 {
    font-family: var(--dm-sans);
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    letter-spacing: -0.642075px;
    text-transform: capitalize;

    color: #000000;

}


.price {
    margin: 1rem 0;
    font-family: var(--dm-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.642075px;
    text-transform: capitalize;

    color: #818181;
}


.price span {
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 25.552px;
    line-height: 33px;
    letter-spacing: -0.642075px;
    color: #F4511E;
}


.shower-bed {
    display: flex;
    width: 100%;
    border: 2px solid #e4e4e4;
    box-sizing: border-box;
    /* margin: auto; */
    justify-content: space-around;
}


.shower-bed img {
    /* border: 4px solid green; */
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.bed,
.shower,
.size {
    display: flex;
    width: 32.514%;
    margin: 0;
    padding: 5px 0;
    border-right: 2px solid #e4e4e4;
    justify-content: center;
    align-items: center;
}

.size {
    border-right: 0;
}

/* !SECTION */


/* SECTION Lifestyle-container */


.lifestyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

/* .grantees,
.grantees-intro {
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
} */

.grantees-intro {
    width: 40%;

    display: inline-block;
    margin: 2rem;
}

.grantees {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    /* overflow: hidden; */
}

.grantees .img {
    margin: 1rem;
}

.grantees .img1 {
    display: flex;
    flex-basis: 250px;
    align-items: flex-start;
}

.grantees .img2 {
    display: flex;
    flex-basis: 270px;
    align-items: flex-end;
}

.grantees .img3 {
    display: flex;
    flex-basis: 212px;
    align-items: flex-start;
}

.grantees .img4 {
    display: flex;
    flex-basis: 338px;
    align-items: flex-end;
}

.grantees-intro h1 {
    /* Heading / H3 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    /* or 135% */

    font-feature-settings: 'salt'on, 'liga'off;

    /* Text / Gray 900 */

    color: #18191F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.grantees-intro p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #18191F;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.grantee-btn button {
    width: 185px;
    height: 63px;
    border: 0;
    background: #F4511E;
    border-radius: 13px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'salt'on, 'liga'off;

}

.fill-property {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}

.fill-property h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    width: max-content;
    margin: 1rem auto 2rem;
    /* identical to box height, or 133% */

    text-transform: capitalize;
    font-feature-settings: 'salt'on, 'liga'off;

    color: #000000;
}

.fill-property .form-details {
    background: #FFFFFF;
    box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 2rem 2rem 4rem;
    width: 95%;
    margin: auto;
}

.fill-property form {

    display: grid;

    grid-template-columns: 30% 30% 30%;

    grid-gap: 2rem;

    /* width: 90%; */

    margin: auto;

    padding: 2rem 2rem 0;
}

.fill-property .form-details>h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #F4511E;
    /* grid-column: 1/-1;
    grid-row: 1/2; */
    overflow: hidden;
}

.fill-property form input {
    width: 100%;
    height: 40px;
}

.fill-property form select {
    width: 100%;
    height: 40px;
}

.fill-property form div label {
    /* border: 2px solid green; */
    padding-bottom: 0.2rem;
    display: inline-block;
}

.add-description {
    grid-column: 1/-1;
    grid-row: 5/6;
    margin: auto;
    width: 100%;
}

.add-description textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 1rem;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    /* margin: auto; */
}

.upload-container {
    grid-column: 1/ -1;
    grid-row: 6/7;
    /* margin: auto; */
    height: 100%;
    width: 100%;
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: center; */
    background-color: #fcfcfc;
}

.card {

    width: 100%;
    height: 220px;
    background-color: #ffffff;
    /* padding: 10px 30px 40px; */
}

.card h3 {
    font-size: 22px;
    font-weight: 600;

}

.drop_box {
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(244, 81, 30, 0.01);
    border: 1px dashed #F4511E;
    border-radius: 10px;
    width: 100%;
}

.drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
}

.drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #a3a3a3;
}

.drop_box .btn {
    display: none;
    text-decoration: none;
    background-color: #005af0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
}

.drop_box .btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.btn-add-property {
    width: max-content;
    margin: auto;

}

.btn-add-property .btn {
    width: 512px;
    height: 70px;
    text-decoration: none;
    background: #F4511E;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 9.07965px;
    outline: none;
    transition: 0.3s;
}

.btn-add-property .btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #f4511e;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

.quote {
    /* margin-top: 2rem; */
    background: rgba(244, 81, 30, 0.07);
    margin: 7rem auto 2rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.quote-page {
    margin: 1rem 2rem 1rem 4.5rem;
    width: 60%;
}

.quote-page p {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
    /* or 171% */

    font-feature-settings: 'salt'on, 'liga'off;

    /* Text / Gray 900 */

    color: #18191F;
}

.quote .quote-img {
    margin-top: 1rem;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
}

.quote-img .quote-img-owner {
    margin-left: 1rem;
}



.quote-img .quote-img-owner p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    font-feature-settings: 'salt'on, 'liga'off;

    color: #F4511E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.video-page {
    width: 600px;
    height: 500px;
    /* border: 2px solid green; */
}

.video-page img {
    width: 600px;
    height: 490px;

}


.quote-img .quote-img-owner p+p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    font-feature-settings: 'salt'on, 'liga'off;

    /* Text / Gray 900 */

    color: #18191F;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Footer Styling */

footer {
    /* margin: 10px; */
    /* border: 2px solid #0000ff; */
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.main-footer-upper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    /* border: 2px solid #0000ff; */
}


.main-footer-row1 {
    flex-basis: 35%;
    line-height: 1.5;
    padding: 10px;
    order: 2;
}


.main-footer-row1 h2 {
    font-size: 1.5rem;
    text-align: center;
    /* border: 2px solid; */
}

.social-icon {
    width: 100%;
    display: inline-block;
    grid-template-columns: 40px 40px 40px 40px 40px;
    /* justify-content: space-evenly; */
}

ion-icon {
    font-size: 32px;
}


.main-footer-row2 {
    padding: 1rem 0;
    width: 40%;
    order: 1;
    text-align: start;
}


.main-container {
    /* box-sizing: border-box; */
    max-width: 1200px;
    margin: auto;
    width: 90%;
}

.main-footer-row1 .address {
    margin-bottom: 1rem;
    font-family: var(--assistant);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    /* Dark */
    color: #0A142F;
}

.number {
    margin-bottom: 1.25rem;
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    /* Dark */
    color: #0A142F;
    display: flex;
    justify-content: space-between;
}

.social-icon img {
    height: 40px;
    width: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    /* margin: 1rem 0.2rem; */
    padding: 0 0.5rem;
    /* flex-basis: 10%; */
}

.main-footer-lower {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 2rem 3rem 1rem;
    font-weight: 100;
    border-top: 0.1rem solid #eee;
    align-items: center;
    justify-content: space-between;
}

.main-footer-lower .copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: right;

    /* Dark */
    color: #0A142F;
    mix-blend-mode: normal;
    opacity: 0.5;
    order: 2;
}

.fullName a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;

    /* Dark */

    color: #0A142F;

    mix-blend-mode: normal;
    opacity: 0.5;

}

.footer-bar>.footer-links>a {
    display: inline-block;
    padding: 17px 10px;
    /* margin: 0 20px; */
    text-decoration: none;
    /* overflow: initial; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-transform: uppercase;
    color: #0A142F;

}

.footer-bar>.footer-links>a:hover {
    border-bottom: 2.32181px solid #0a142f;
    /* background-color: rgba(0, 0, 0, 0.3); */
}


/* https://dev.to/github/10-standout-github-profile-readmes-h2o */